.secondary{
    background-color: $black;
    height: fit-content;
    padding-bottom: 160px;
    gap: 32px;
    margin: 0;
    .featured-01{
        background-image: './img/img_sistema02.png';
        height: 560px;
        @include box-style(77.5%, $mainColor);
        transition: 1s ease-in;
    }
    .featured-02{
        background-image: './img/img_sistema03.png';
        height: 560;
        @include box-style(77.5%, $mainColor);
        transition: 1s ease-in;
    }
}