.major{
    background-color: $black;
    height: fit-content;
    padding-bottom: 160px;
    gap: 32px;
    margin: 0;
    .hero{
        background-image: '../../assets/img/hero01.png';
        height: 722px;
        @include box-style(77.5%, $mainColor);
        transition: 1s ease-in;
        height: box-height(true);
        &:hover{
            @include box-style(77.5%, $keyColor);
            transition: 1s ease-in;
            background-image: '../img/hero02.png';
            height: 560px;
        }
        .hero-text{
            width: 59%;
            margin: 182px 0px 0% 10%;
            flex-direction: column;
            gap: 24px;
        }
    }
}
